# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [ ]:
print("Hello Mary!") #print() is your first function

Hello world via a variable

In [ ]:
message = "Hello Class!" #assigning a string to a variable
print(message) # message is a variable



Concatenation (combining strings)

In [ ]:
first_name = 'Sandra' 
last_name = 'Rudowicz' 
full_name = first_name + ' ' + last_name +' '
print(full_name)

In [ ]:
print(full_name* 5)

In [ ]:
print(first_name , last_name) # coma gives a space automaticly



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles) #it is a LIST [, , ,]

In [ ]:
addon = ['raleigh','brompton']
bicycles =bicycles + addon # add a list to a list
print(bicycles)

Get the first item in the list

In [ ]:
first_bike = bicycles[0] 
print (first_bike) # in python counting starts at 0 not  in 1, this is why we have montain printed; list[position on the list]

Get the last item in the list

In [ ]:
third_bike= bicycles[2]
print(third_bike)

In [ ]:
third_bike= bicycles[-3]
print(third_bike)

In [ ]:
third_bike= bicycles[3]
print(third_bike)

In [ ]:
last_bike = bicycles[-1]
print(last_bike)

In [ ]:
# write code to print the penultimate (i.e. one before last) bike

# Working with Strings

## split() function

In [ ]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = 'UK house prices grew two per cent year on year for September, according to new figures released today, but London house prices declined.'

words = sentence.split(' ')

print(words) # it created a list - list of words

In [ ]:
url='https://www.theguardian.com/politics/2018/nov/15/dominic-raab-karate-blackbelt-knockout-blow-brexit-may'
elements = url.split('/')
print(elements) #copied url adress drom the webiste and we wanted to split everything '/'

In [ ]:
# adapt to get the first and second part from an email address
email = "trainingsupport@pairview.co.uk"

########## your code below#############

parts = email.split('@')
print(parts)

indyvidual=parts[0]
company=parts[-1]
print(indyvidual,company)

In [ ]:
# write code to get the first name and the last name from the full name that can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"
name_apart = myname.split(' ') # 
print(name_apart)

st_name=name_apart[0]
laast_name = name_apart[-1]
print(st_name, laast_name)

In [ ]:
myname = "Elizabeth Alexandra Mary Windsor"
name = myname.split(' ') # has to be writen with small s, if we put big letter S before split will get me an error
print(name)

first_name=name[0]
last_name = name[-1]
print(first_name, last_name)

In [ ]:
myname = "Elizabeth Alexandra Mary Windsor"
name = myname.split('a') # a small leter this is why it kept letter A as it i capital-----
print(name)

first_name=name[0]
last_name = name[-1]
print(first_name, last_name)

## join() function

In [ ]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '
sentence = separator.join(words)

print(sentence)# we use the same sentence from above fro split

## strip() function

In [ ]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@this is a polluted string example@@0000000"
print(stri.strip( '0' ).strip('@)')) #normaly used to remove sapces at the begining and at the end of the sentance

## replace(old_word,new_word) function

In [ ]:
# and now I present you the function replace
print( stri. strip('0').strip('@').replace( 'polluted' , 'cleaned' )) # check lsprip() rstrip() left right, 
# removes begining and end or strip() remove by default spaces

# for in statement
### Looping through a list

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

#for in:  statement

for element in bicycles: # element=bicycles[0] #element = bicycles[1] and so on to all of them
    print(element)
  
    
print('My loop is finished, is not indented- End')

## range () function

In [ ]:
for i in range(0,4): #for i = 0 to 4 do in C++
    print(i) #going thgough the number sin prctitular order -range

In [ ]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 4 do in C++
    print(bicycles[i])

In [ ]:
# range function tester

In [ ]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

In [ ]:
for number in range(2,8): # first is start , second the one after 
    print(number)

In [ ]:
for number in range(2,8,2): # first is start , second the one after the last # 3rd the step
    print(number)

In [ ]:
for number in range(500,1000,75): # first is start , second the one after the last # 3rd the step
    print(number)

## Adding items to a list

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

In [ ]:
# add another string
bicycles.append('peugeot')
print(bicycles)

In [ ]:
# add a number!
bicycles.append(22)
print(bicycles)

In [ ]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

In [ ]:
# add a list!!
addon=['derailleur','shimano']  # sparawdz dla samej siebie z gory addon i przetestuj
bicycles.append(addon) 
print(bicycles)

In [ ]:
print (bicycles)

In [ ]:
#remove items from the list
#remove() item by value that needs to exists in the list
bicycles.remove('race')
print (bicycles)

In [ ]:
#del() removes the items at specified position
del bicycles[-1]
print(bicycles)

In [ ]:
#pop() same as remove but can transfer the removed item to a variable
popped=bicycles.pop(1)
print (bicycles)
print(popped)

In [ ]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1])
print(bicycles[-1][-1]) #we are accesing item in the list which position is eiter 1 or -1 as it i stwo items list

## Making numerical lists

In [ ]:
# initialisation 
cubes = []
squares = []
### Start of teh loop
for number in range(1, 7): 
    cubes.append(number**3) #number*number*number
    squares.append(number**2)
### end of the loop --- Will be in the assingment 
print(cubes)
print(squares)

# ** operator is power

In [ ]:
for number in range (5,16):
    print(number)

In [ ]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements
# average=sum/count
#initialisation

sumN = 0
count =0

for number in range (5,16):    #for every item in Sandra's bag 
        sumN =sumN +number     #add the value of the item
        count = count +1      # count one more
        print('number', number)
        print('sum', sumN)
        print('count', count)
        
print('Average', sumN/count)

In [ ]:
sumN = 0
count =0

for number in range (5,16):    #for every item in Sandra's bag 
        sumN =sumN +number     #add the value of the item
        count = count +1      # count one more
        #print('number', number)
        #print('sum', sumN)
        #print('count', count)
        
print('Average', sumN/count)

## len() function

In [ ]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16))
print(l)

print( len (bicycles))

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] #[] means I create a list x is an number in a range 

# equivalent to 

cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [ ]:
finishers = ['Sue','Elliot', 'Kumiko','Damien'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

In [ ]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

f = finishers[:2] + finishers[2:]
print(f)

In [ ]:
last_two = finishers[-2:]
print(last_two)

## index() function
index function returns the first occurence in the list

In [ ]:
# want a table with the position next to the element
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
print('Index | Finisher')
for f in finishers:
    print(finishers.index(f), ' | ',f)
# index function returns the first occurence in the list

In [ ]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
l =len(finishers)
print('Index | Finisher')
for number in range(0,l):
    print(number  , finishers[number])

Copying a list

In [ ]:
copy_of_bicycles = bicycles[:] # : means everything
print(copy_of_bicycles)

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [ ]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

# lists can be modified 
bicycles[0]='raleigh'
print(bicycles)

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [ ]:
# If statement
age = 25
commonwealth = True
if age >= 18: 
    print("You may be able to vote")

if (age >= 18 and commonwealth == True):
       print("You can vote!")

In [ ]:
   
#If-elif-else statements 
if age < 4: 
    price = 0 
elif age < 18:
    price = 10 
else: price = 15

print(price)

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [ ]:
x = 57 # i assign 57 to x
# (x<42) is  a test with a value of True of False
print('is x smaller than 42?', x < 42)

X =(x > 42 )
print('is x bigger than 42?', X)

if X : 
    print(X)

In [ ]:
test = 50
x = (test!= 55)

if x :
    print(x)

## Conditional test with lists 
## IN
## NOT IN

In [ ]:
print('downhill' in bicycles)

In [ ]:
print('downhill' not in bicycles)

Assigning boolean values

In [ ]:
game_active = True 
can_edit = False

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [ ]:
# set list

In [ ]:
list = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]


for element in list:
    if element < 5:
        print(element)

In [ ]:
# extra: create a list of random number using the
# random generator below

import random
for x in range(10):
  print(random.randint(1,101))

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [ ]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8} #we are counting how many key words appears in the article

real_dictionary = {'science': 'sthe sum of knowlage on this earth', 'vaccine': 'good stuff'}


# with different value types, keys :values
car = {'make' : 'Mazda',
       'model' : '3 sport',
       'engine_size_cc': 2259,
       'colour': 'laser blue',
       'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [ ]:
print("The car colour is " + car['colour'])
#like a list but instead of position I put a key

In [ ]:
#write code to retrieve the dictionary inside the dictionary

dictionary = car['dimensions_mm']
print(dictionary)

In [ ]:
# retrieve the value in thedictionary inside the dictionary

print('car length is', car['dimensions_mm']['l'], 'cm')

In [ ]:
#Adding a new key-value pair
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

In [ ]:
car['transmission_type'] = 'automatic'
print(car)

Values, Keys and Items

In [ ]:
print('list of tuples in the dictionary','\n',car.items(),'\n') #\n means new line

print('list of keys','\n',car.keys(),'\n')

print('list of values','\n',car.values(),'\n')

Looping through all keys

In [ ]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

Looping through all the values

In [ ]:
#write code to loop through all the values

for v in car.values(): 
    print(v , ' is a car characteristic')

Looping through all key-value pairs

In [ ]:
# python difference or characteristic
print(str(car['dimensions_mm']['l']))

for k,v in car.items():
    print(k ,' is ' , v)

In [ ]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}
      
for k,v in dic2.items():
    dic1[k]=v
      
for k,v in dic3.items():
    dic1[k]=v
      
print(dic1)

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.

### your code ####

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [ ]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

In [ ]:
# prompting for a number

age = input("How old are you? ") #return a string
age = int(age) #convert
print(age)

In [ ]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [3]:
current_year = 2018

name = input("What's your name? ") 
age = input("How old are you? ") #return a string
age = int(age)

birth_year = current_year - age

centenary = birth_year + 100
print('Hello', name, 'you will be 100 or dead in', centenary)

What's your name? Sandra
How old are you? 36
Hello Sandra  you will be 100 or dead in 2082

In [ ]:
import random

for x in range(10):
  print(random.randint(1,101))